/* Main styles */
body {
  background-color: hsl(210, 46%, 95%);
}
main {
  background: #d6d6d6;
  width: 100%;
  margin: 0 auto;
  min-width: 375px;
  font-family: "Roboto", sans-serif;
}

.Rutgers-captone {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 12px 22px;
  border-radius: 5px;
  background-color: #78c0a8;
  z-index: 10;
}

.Rutgers-captone a {
  text-decoration: none;
  color: hsl(210, 46%, 95%);
}

h1,
.separator {
  color: #78c0a8;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

.positive-content {
  padding-left: 20px;
  padding-right: 20px;
  /* padding-right: 50px ; */
}

.youtube-caption {
    all:inherit;
    font-size: 12px;
    text-align: center;
    margin-top: 5px;
}

.negative-content {
  padding-left: 20px;
  padding-right: 20px;
}

/* header style */

#myVideo {
  width: 100%;
}

.video {
  position: relative;
}

.play-btn {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #3d8a9e;
  color: #0a1114;
}

.button {
  position: absolute;
  left: 0;
  right: 0;
  top: 25%;
  margin-left: auto;
  margin-right: auto;
  z-index: 100;
  text-align: center;
}

.button p {
  color: white;
  margin-top: 20px;
  letter-spacing: 2px;
  line-height: 20px;
}

.play-btn:hover {
  color: #3d8a9e;
  background-color: aliceblue;
}

.modal {
  width: 50%;
  margin: 0 auto;
}

.video-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  background-color: hsl(210, 46%, 95%);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;
}

.video-container .close {
  position: absolute;
  top: 15%;
  right: 14%;
  font-size: 20px;
  cursor: pointer;
  font-size: 30px;
}

.youtube {
  width: 80%;
  max-width: 1000px;
  height: 60%;
  transform: scale(0);
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2);
  outline: none;
  transition: all 0.3s;
}

.video-container.show {
  pointer-events: all;
  opacity: 1;
}
.video-container.show .youtube {
  transform: scale(1);
}

/* First Section styles */

.first-content {
  margin-top: -5px;
}

.section-img {
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.section-one-content {
  line-height: 30px;
  padding-bottom: 25px;
  margin-right: 20px;
}

.first-section {
  margin-top: 50px;
}

.caption-one {
  font-size: 10px;
  text-align: center;
  margin-top: 5px;
}

/* dividor styles */

/* .divider {
    width: 15%;
    height: 5px;
    border-top: 3px solid red;
} */

/* Second section styles */

.second-section-header {
  margin-top: 20px;
  margin-bottom: 40px;
  font-size: 40px;
  text-align: center;
}

.section-two-content {
  /* background-color: red; */
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.youtube-video {
  /* margin: 0 auto; */
  width: 90%;
  height: 500px;
  margin: 0 auto;
  margin-left: 30px;
  border: 1px solid #78c0a8;
}

.thisvideo {
  /* border: 1px solid #000; */
  padding: 0;
  border-radius: 10px;
}

.video-two {
  width: 80%;
  padding: 0;
}

.second-section-second-paragraph {
  background: #ededed;
  border-left: 8px solid #78c0a8;
  color: #555555;
  width: 40%;
  padding: 20px;
  line-height: 30px;
  margin-bottom: 20px;
}

.second-section-first-paragraph {
  padding: 20px;
  background: #ededed;
  border-left: 8px solid #78c0a8;
  color: #555555;
  line-height: 30px;
  margin-bottom: 20px;
}

.section-two-content {
  flex-direction: column;
  align-items: center;
}

.second-section-first-paragraph {
  width: 90%;
  border-radius: 10px;
}

.second-section-second-paragraph {
  width: 90%;
  border-radius: 10px;
}

/* Third section styles */

.businiss-image {
  width: 100%;
  border-radius: 10px;
}

.image-container figcaption {
}
/* Fourth section styles */
.section-four-content {
  line-height: 30px;
}

.fourth-section-header {
  margin-bottom: 40px;
  font-size: 40px;
  text-align: left;
}

.section-four-content {
  width: 90%;
  margin: 0 auto;
}

.fourth-section-header {
  text-align: center;
}
.tweet-section {
  width: 100%;
  margin-top: 40px;
}

.tweet-section figure {
  width: 90%;
  margin: 0 auto;
}

.twitter-tweet {
  border: 2px solid #78c0a8;
  border-radius: 10px;
}

.caption-two {
  font-size: 10px;
  text-align: center;
}

.caption-three {
  font-size: 10px;
  text-align: center;
}

.third-section-header {
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 40px;
  text-align: left;
}

.third-section-paragraph {
  line-height: 30px;
  padding-bottom: 25px;
  /* padding-right: 50px; */
}

.image-container figure {
  margin-bottom: 20px;
  text-align: center;
}

.image-container figcaption {
  font-size: 12px;
  text-align: center;
  margin-top: 5px;
  line-height: 15px;
}

/* Fifth paragraph styles */
.fifth-section-header {
  margin-bottom: 40px;
  font-size: 40px;
  text-align: center;
}

.fifth-section-paragraph {
  line-height: 30px;
}

.nesi-tweet {
  width: 90%;
  padding-top: 20px;
  margin: 0 auto;
  text-align: center;
}

.caption-three {
  width: 100%;
  margin-bottom: 40px;
  font-size: 12px;
  line-height: 15px;
}

.separator {
  display: flex;
  align-items: center;
  text-align: center;
  color: red;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 2px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.separator::before,
.separator::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #000;
}

.separator:not(:empty)::before {
  /* margin-right: .25em; */
}

.separator:not(:empty)::after {
  margin-left: 0.25em;
}

/* section seven styles */

.seventh-section-header {
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 40px;
  text-align: left;
}

.seventh-section-first-paragraph {
  line-height: 30px;
  padding-bottom: 25px;
}

.youtube-section-seven iframe {
  text-align: center;
  width: 100%;
}

.expert {
  color: white;
  margin: 0 auto;
  margin-bottom: 20px;
  width: 80%;
  padding: 10px;
  line-height: 25px;
  border-radius: 10px;
}

.expert span {
  display: block;
  text-align: right;
  margin-top: 10px;
}

blockquote {
  /* font-size: 1.4em;
    width:60%;
    margin:50px auto; */
  font-family: Open Sans;
  font-style: italic;
  color: #555555;
  padding-left: 40px;
  padding-right: 20px;
  padding-top: 10px;
  border-left: 8px solid #78c0a8;
  line-height: 1.6;
  position: relative;
  background: #ededed;
}

blockquote::before {
  font-family: Arial;
  content: "\201C";
  color: #78c0a8;
  font-size: 4em;
  position: absolute;
  left: 10px;
  top: -10px;
}

blockquote::after {
  content: "";
}

blockquote span {
  display: block;
  color: #333333;
  font-style: normal;
  font-weight: bold;
  margin-top: 1em;
}

/* Pew Research styles */

.image-gallery-two {
  width: 100%;
}
.pew {
  width: 90%;
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
  margin-top: 20px;
  border-radius: 10px;
}

/* Conclusion styles */

.conclusion {
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 25px;
}

.conclusion-header {
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 40px;
  text-align: center;
}

.conclusion-content p {
  margin-bottom: 20px;
  text-align: left;
  line-height: 30px;
}

/* References styles */

.references h1 {
  font-size: 40px;
  text-align: center;
  margin-bottom: 40px;
}

.references {
  padding-top: 40px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
  background-color: black;
  color: white;
  line-height: 20px;
}

.references li {
  margin-bottom: 20px;
  width: 100%;
}

@media (min-width: 500px) {
  .button {
    top: 30%;
  }
}

@media (min-width: 700px) {
  .button {
    top: 40%;
  }

  .tweet-section figure {
    width: 80%;
    margin: 0 auto;
  }
}

@media (min-width: 1000px) {
  .nesi-tweet {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nesi-tweet figure {
    width: 45%;
  }

  .youtube-section-seven {
    float: right;
  }

  .youtube-section-seven iframe {
    text-align: center;
    width: 500px;
  }

  .tweet-expert {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .expert {
    height: 150px;
  }
  .image-gallery-two {
    width: 100%;
    display: flex;
  }
  .pew {
    width: 90%;
    display: block;
  }
}

@media (min-width: 1200px) {
  .positive-content {
    padding-left: 50px;
    padding-right: 50px;
    /* padding-right: 50px ; */
  }

  .negative-content {
    padding-left: 50px;
  }

  main {
    width: 70%;
  }
  .button {
    top: 40%;
  }

  .video-two {
    margin-left: 20px;
    border-radius: 10px;
    /* background-color: red; */
  }
  /* .youtube-section-seven iframe {
    text-align: center;
    padding-right: 50px;
    padding-left: 20px;
    width: 100%;
} */

  .section-one-image {
    float: right;
    width: 50%;
    padding-left: 20px;
  }

  .second-content {
    display: flex;
  }

  .section-two-content {
    justify-content: center;
  }

  .section-two-content {
    width: 100%;
  }
  .youtube-section {
    width: 100%;
  }

  .section-two-content {
    margin-top: 0;
    justify-content: space-between;
  }

  .fourth-content {
    /* width: 90%; */
    margin: 0 auto;
  }

  .section-four-content {
    padding-right: 20px;
  }

  .image-container {
    width: 30%;
    height: 300px;
  }
  .image-gallery {
    display: flex;
    justify-content: space-between;
    margin-right: 50px;
    margin-top: 30px;
  }

  .businiss-image {
    height: 300px;
  }

  .fifth-section {
    margin-top: 100px;
  }

  .third-section-paragraph {
    padding: 0;
  }

  .thisvideo {
    margin: 0;
  }

  .video-two {
    margin-left: 20px;
  }

  .section-four-content {
    width: 100%;
    margin: 0;
  }

  .separator {
    display: flex;
    align-items: center;
    text-align: center;
    color: red;
    font-weight: bold;
    font-size: 30px;
    letter-spacing: 2px;
    margin-top: 50px;
    margin-bottom: 50px;
  }
}
